h1 {
  font-family: "Astloch", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

.who-container {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 40px;
  margin-bottom: 5%;
  position: absolute;
  z-index: 2;
}

.exit {
  position: absolute;
  right: 10%;
  margin-top: 40px;
}

.exit > a {
  font-size: 48px;
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Astloch", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Astloch&family=Open+Sans+Condensed&display=swap");
}
