.days-container {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5%;
  position: absolute;
  z-index: 2;
}

.day-square {
  font-family: "Tenali Ramakrishna", sans-serif;
  font-weight: 300;
  font-size: 80px;
  text-decoration: none;
  color: black;
  width: 90px;
  height: 90px;
  text-align: center;
  padding: 15px;
}

.day-square::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: relative;
  bottom: 76px;
  width: 0;
}

.day-square:hover::after {
  width: 100%;
}
.day-square:focus {
  outline: none;
}

@media only screen and (max-width: 415px) {
  .day-square {
    font-size: 30px;
    width: 58px;
  }
  .days-container {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 770px) {
  .days-container {
    justify-content: space-around;
  }
}
