.days-container {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
  margin-top: 40px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5%;
  position: absolute;
  z-index: 2;
}

.day-square {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 50px;
  text-decoration: none;
  color: black;
  width: 70px;
  text-align: center;
  padding: 15px;
}

.day-square::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: relative;
  bottom: 30px;
  width: 0;
}

.day-square:hover::after {
  width: 100%;
}
.day-square:focus {
  outline: none;
}
