.title {
  font-family: "Astloch", cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  text-align: left;
  color: black;
}

.hamburger {
  border: none;
  width: 100px;
  height: 140px;
  margin-top: 30px;
  margin-left: 30px;
  display: none;
}
.misty {
  top: 0px;
  right: 0px;
  position: absolute;
  height: 100%;
  width: 35%;
  border: none;
  cursor: default;
  z-index: -3;
}
.header-container {
  margin-left: 5%;
}

.header-container > a {
  text-decoration: none;
}

.time-container {
  display: flex;
}

.lockdown-container > h3 {
  margin-right: 10px;
  margin-bottom: 0px;
}
.social-container > h3 {
  margin-right: 10px;
  margin-top: 10px;
}

h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}

@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Astloch", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Astloch&family=Open+Sans+Condensed&display=swap");
}

// Phone Responsive
@media only screen and (max-width: 415px) {
  .misty {
    height: 80%;
    width: 98%;
    top: 82px;
  }

  .header-container {
    margin-left: 10px;
  }

  .time-container {
    margin-top: -25px;
    position: inherit;
    justify-content: center;
  }

  .time-container > h3 {
    font-size: 16px;
  }

  .title {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }
}

//  iphone 5
@media only screen and (max-width: 330px) {
  .title {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }
  .time-container > h3 {
    font-size: 13px;
  }
}

@media only screen and (max-width: 770px) {
  .misty {
    height: 60%;
    width: 60%;
  }

  .main-day {
    display: none;
  }

  .gallery-body {
    margin-top: 0 !important;
    width: 95%;
    position: absolute;
  }
}

// Ipad pro size
@media only screen and (max-width: 1024px) {
  .misty {
    height: 60%;
    width: 60%;
  }
}
