@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Astloch", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Astloch&family=Open+Sans+Condensed&display=swap");
}
.gallery-body {
  margin-top: 40px;
  width: 95%;
  position: absolute;
}
.gallery-container {
  box-sizing: border-box;
  margin-left: 5%;
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.filter {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-left: 5%;
  margin-bottom: 2px;
  height: 40px;
  width: 100px;
}

.filter::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: relative;
  bottom: 20px;
  width: 0;
}

.filter:hover::after {
  width: 55px;
  left: 14px;
}

.filter:focus {
  outline: none;
}

.filter-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  margin-top: 2px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}

.comment {
  display: inline-flex;
}

.day {
  font-family: "Astloch", cursive;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
.day-comment {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 2px;
}

.main-day {
  width: 100%;
  padding-bottom: 30px;
}

.main-day > h3 {
  font-family: "Astloch", cursive;
  text-align: center;
  font-size: 50px;
  height: 100%;
  margin: 0;
  text-align: center;
  top: 0;
  position: absolute;
  right: 44%;
}

img {
  border: 1px solid #000000;
  height: 400px;
  cursor: zoom-in;
}

.error-message {
  width: 500px;
}

.ril-zoom-in,
.ril__zoomInButton,
.ril__zoomOutButton,
.ril__builtinButtonDisabled,
.ril-zoom-out {
  display: none;
}

.ril-image-current,
.ril__image {
  transform: none !important;
  height: 100%;
}
