.nav {
  font-family: "Astloch", cursive;
  font-size: 48px;
  line-height: 59px;
  text-decoration-line: underline;
}

@font-face {
  font-family: "Astloch", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Astloch&display=swap");
}
