.nav {
  margin-left: 4%;
}

.link {
  font-family: "Astloch", cursive;
  font-size: 48px;
  line-height: 59px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border: none;
  width: 100px;
  color: black;
  text-decoration: none;
}

.link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: black;
  position: relative;
  bottom: 30px;
  width: 0;
}

.link:hover::after {
  width: 100%;
}
.link:focus {
  outline: none;
}

@font-face {
  font-family: Astloch;
  src: url(../../../public/Astloch-Regular.ttf);
}

// iphone
@media only screen and (max-width: 415px) {
  .nav {
    margin-top: 25px;
    margin-left: 25px;
  }
  .link {
    font-size: 38px;
    display: inherit;
    text-align: initial;
    margin-top: -24px;
  }
  .gallery-item > span > img {
    width: 100%;
    height: auto;
  }
  .main-day {
    display: none;
  }

  .gallery-container {
    padding-top: 0;
  }

  .gallery-body {
    margin-top: 0px !important;
  }

  .link:hover::after {
    width: 60%;
  }
}

// iphone 5
@media only screen and (max-width: 330px) {
  .link {
    font-size: 29px;
    display: inherit;
    text-align: initial;
    margin-top: -24px;
  }

  .nav {
    margin-top: 0;
    margin-left: 25px;
  }
}
